# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\old laptop\Documents\MY CLASSES\School\masters\CLASSES\summer 2022\distributed systems\projects\1\code\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
